.mat-card {
    max-width:300px;
    margin:auto
}

.mat-card-avatar {
    background-image: url('/assets/img/dev1.jpg');
    background-size: cover;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .felx-spacer {
    width: 100%;
}